@use '@styles/mixin.module.scss' as mixins;
@use '@styles/variables.module.scss' as vars;

.container {
    margin-bottom: 20px;
    
    .labelInput {
        font-size: 14px;
        color: vars.$four_color;
        margin-bottom: 5px;
    }
    .boxInput {
        width: 100%;
        input {
            width: 100%;
            border: 1px solid #e1e1e1;
            outline: none;
            padding: 10px 0 10px 10px;
        }
    }
}
