@use '@styles/mixin.module.scss' as mixins;
@use '@styles/variables.module.scss' as vars;

.container {
    @include mixins.flex_box_custom(space-between, center, 0px);

    margin-top: 100px;

    .title {
        font-size: 35px;
        font-weight: 400;
        color: vars.$four_color;
        text-align: center;
    }

    .des {
        font-size: 16px;
        font-weight: 300;
        color: vars.$thr_color;
        line-height: 25px;
        text-align: center;
    }

    .boxBtn{
        @include mixins.flex_box_custom(center, center, 0px);

        margin-top: 30px;
    }

    .boxImage{
        @include mixins.flex_box_custom(center, center, 0px);

        width: 100%;
    }
}
