@use '@styles/mixin.module.scss' as mixins;
@use '@styles/variables.module.scss' as vars;

.container {
    @include mixins.flex_box_custom(space-between, unset, 0px);

    flex-direction: column;
    padding: 30px 20px 0 20px;
    height: 95%;

    .total {
        @include mixins.flex_box_custom(space-between, center, 0px);
    }

    .boxBtn {
        @include mixins.flex_box_custom(center, center, 10px);
        flex-direction: column;
    }

    .containerListProductCarts {
        position: relative;

        .overlayLoading {
            @include mixins.flex_box_custom(center, center, 0px);

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    .boxEmpty {
        text-align: center;
        font-size: 14px;
        color: vars.$four_color;
        margin-top: 30px;

        .boxBtnEmpty {
            width: 162px;
            margin: 20px auto;
        }
    }

    .containerListItem {
        @include mixins.flex_box_custom(space-between, unset, 0px);
        flex-direction: column;

        flex-grow: 1;
    }
}

.isEmpty {
    justify-content: unset;
}
