@use '@styles/mixin.module.scss' as mixins;
@use '@styles/variables.module.scss' as vars;

.container{
    @include mixins.flex_box_custom(space-between,unset,0px);

    padding: 30px 20px 0 20px;
    height: 95%;
    flex-direction: column;

    .boxBtn{
        @include mixins.flex_box_custom(space-between,unset,10px);
        flex-direction: column;
    }
}