@use '@styles/mixin.module.scss' as mixins;
@use '@styles/variables.module.scss' as vars;

.boxImg {
    width: 300px;
    height: 100%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover .showImgWhenHover {
        opacity: 1;
        transition: opacity 500ms;
    }

    .showImgWhenHover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .showFncWhenHover {
        position: absolute;
        opacity: 0;
        bottom: 20px;
        right: 0px;
        background-color: vars.$white_color;
    }

    &:hover .showFncWhenHover {
        opacity: 1;
        right: 20px;
        transition: opacity 500ms, right 500ms;
    }

    .BoxIcon {
        @include mixins.flex_box_custom(center, center, 0px);

        width: 30px;
        height: 30px;

        .img {
            width: 17px;
            height: 17px;
        }

        &:hover {
            background-color: #e4e4e4;
            transition: background-color 500ms;
        }
    }
}

.title {
    margin: 6px 0;
    font-size: 16px;
    color: vars.$four_color;
}
.priceCl {
    font-size: 14px;
    color: vars.$thr_color;
}

.BoxSize {
    @include mixins.flex_box_custom(center, center, 10px);

    .size {
        @include mixins.flex_box_custom(center, center, 0px);
        border: 1px solid #e1e1e1;
        padding: 4px 6px;
        font-size: 10px;
        cursor: pointer;

        &:hover {
            border: 1px solid vars.$primary_color;
            transition: border 500ms;
        }
    }
}

.isActive{
    border: 1px solid vars.$primary_color !important;
}

.btnClear{
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.textCenter {
    text-align: center;
}

.boxBtn {
    width: 142px;
    margin: 10px auto;
}

.containerItem {
    @include mixins.flex_box_custom(flex-start, center, 20px);
    margin-top: 20px;

    .content {
        @include mixins.flex_box_custom(flex-start, flex-start, 10px);

        flex-direction: column;
    }

    .leftBtn {
        margin: 0;
    }

    .largeImg {
        width: 430px;
    }
}
