@use '@styles/mixin.module.scss' as mixins;
@use '@styles/variables.module.scss' as vars;

.boxImg {
    width: 300px;
    height: 100%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover .showImgWhenHover {
        opacity: 1;
        transition: opacity 500ms;
    }

    .showImgWhenHover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .showFncWhenHover {
        position: absolute;
        opacity: 0;
        bottom: 20px;
        right: 0px;
        background-color: vars.$white_color;
    }

    &:hover .showFncWhenHover {
        opacity: 1;
        right: 20px;
        transition: opacity 500ms, right 500ms;
    }

    .BoxIcon {
        @include mixins.flex_box_custom(center, center, 0px);

        width: 30px;
        height: 30px;

        .img {
            width: 17px;
            height: 17px;
        }

        &:hover {
            background-color: #e4e4e4;
            transition: background-color 500ms;
        }
    }
}

.title {
    margin: 6px 0;
    font-size: 16px;
    color: vars.$four_color;
}
.priceCl {
    font-size: 14px;
    color: vars.$thr_color;
}
