@use '@styles/mixin.module.scss' as mixins;
@use '@styles/variables.module.scss' as vars;

.container{
    @include mixins.flex_box_custom(center,center,20px);

    flex-direction: column;
    background-color: #363636;
    margin-top: 80px;
    color: vars.$white_color;
    padding: 50px 0;

    .boxNav{
        @include mixins.flex_box_custom(center,center,50px);
        color: 15px;

        :hover{
            opacity: 0.6;
            cursor: pointer;
        }
    }


}