@use '@styles/mixin.module.scss' as mixins;
@use '@styles/variables.module.scss' as vars;

.btn {
    @include mixins.btn(176px, 42px, 3px, vars.$primary_color);

    color: vars.$white_color;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;

    &:hover{
        background-color: transparent;
        color: vars.$primary_color;
        border: 1px solid vars.$primary_color;
        transition: background-color 300ms;
    }
}
