@use '@styles/mixin.module.scss' as mixins;
@use '@styles/variables.module.scss' as vars;

.container{
    @include mixins.flex_box_custom(space-beteen,center,0px);
    background-color: vars.$primary_color;
    margin-top: -75px;
    padding: 20px 50px;
}

.containerCard{
    @include mixins.flex_box_custom(center,center,18px);

    width: 280px;
    height: 104px;
}

.containerContent{
    @include mixins.flex_box_custom(center,flex-start,13px);

    flex-direction: column;
    color: vars.$white_color;
    font-weight: 300;
    .title{
        font-size: 17px;
    }   
    .des{
        font-size: 16px;
        color: #ffffffc7;
    }
}



