@use '@styles/mixin.module.scss' as mixins;
@use '@styles/variables.module.scss' as vars;


.container{
    @include mixins.flex_box_custom(space-between,center,10px);
    margin-top: 50px;
}

.containerItem{
     @include mixins.flex_box_custom(center,center,10px);
}