@use '@styles/mixin.module.scss' as mixins;
@use '@styles/variables.module.scss' as vars;

.container{
    @include mixins.flex_box_custom(center,center,0px);

    margin: 65px 0 15px;
}

.headline{
    width: 100%;
    height: 2px;
    margin-top: 30px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.containerMiddleBox{
    @include mixins.flex_box_custom(center,center,0px);
    
    width: 60%;
    padding: 0 50px;
    flex-direction: column;
    line-height: 0px;
}

.des{
    font-size: 14px;
    color: vars.$thr_color;
    text-transform: uppercase;
}

.title{
    font-size: 24px;
    color: vars.$primary_color;
}