@use '@styles/mixin.module.scss' as mixins;
@use '@styles/variables.module.scss' as vars;

.container {
    padding-top: 83px;

    .functionBox {
        @include mixins.flex_box_custom(space-between, center, 0px);
        color: vars.$secondary_color;
        font-size: 14px;
        font-weight: 300;
        .specialText {
            color: vars.$primary_color;
            font-weight: 400;
        }
        .btnBack {
            cursor: pointer;
        }
    }
}

.containerBanner {
    background-image: url('https://xstore.b-cdn.net/elementor2/marseille04/wp-content/uploads/sites/2/2022/12/Background.jpeg');
    margin-top: 10px;
    height: 279px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .contentBox {
        @include mixins.flex_box_custom(space-between, center, 30px);
        flex-direction: column;

        padding: 60px 0;
    }

    .countDownBox {
        @include mixins.flex_box_custom(center, center, 10px);
    }

    .countDownBox > span {
        border: 1px solid #e1e1e1;
        margin-top: 0;
    }

    .title {
        font-size: 28px;
        color: vars.$four_color;
    }

    .boxBtn {
        width: 160px;
    }
}

.containerFilter{
    @include mixins.flex_box_custom(space-between, center, 30px);

    margin-top: 15px;

    .boxLeft{
        @include mixins.flex_box_custom(center, center, 20px);
    }

    .boxIcon{
        @include mixins.flex_box_custom(center, center, 10px);
    }

    .selectBox{
        border: 1px solid #e1e1e1;
        padding: 5px;
        color: vars.$secondary_color;
    }

    .selectBox.sort{
        width: 275px;
    }

    .selectBox.show{
        width: 83px;
    }
}

.containerProducts{
    @include mixins.flex_box_custom(space-between, flex-start, 10px);
    flex-wrap: wrap;
    margin-top: 40px;
}

.sessionListProduct{
    min-height: 800px;
}

