@import '@styles/mixin.module.scss';
@import '@styles/variables.module.scss';

.container{
    @include flex_box_custom(center,center,0px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.containerHeader {
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 83px;
}

.containerBoxItem{
      @include flex_box_custom(center,center,10px);
}

.containerBox{
    @include flex_box_custom(center,center,20px);
}

.containerMenu{
     @include flex_box_custom(center,center,40px);
}

.boxIcon {
    @include radius_common(50%);
    @include flex_box_custom(center,center,0px);
    background-color: $primary_color;
    width: 26px;
    height: 26px;
}

.menu{
    cursor: pointer;
    padding-top: 9px;
    font-size: 15px;
    color: $primary_color;
}

.menu::after{
    content: '';
    display: block;
    height: 2px;
    margin-top: 6px;
    background-color: $primary_color;
    border-radius: 10px;

    transform-origin: right;
    opacity: 0;
    transform: scaleX(0);
    transition: transform 300ms, opacity 500ms;
}

.menu:hover::after{
    opacity: 1;
    transform-origin: left;
    transform: scale(1);
}