@use '@styles/mixin.module.scss' as mixins;
@use '@styles/variables.module.scss' as vars;

.container{
    @include mixins.flex_box_custom(center,center,0px);
   
    left: 0;
    right: 0;
}

.topHeader{
     position: absolute;
    top: 0;
}

.fixedHeader{
    position: fixed;
    top: -83px;
    background-color: #fff;
    z-index: 999;
    background-color: #ffffffe6;
    transform: translateY(83px);
    box-shadow: 2px 0 12px 0 rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    transition: transform 0.7s ease-in-out;
}

.containerHeader {
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 83px;
}

.containerBoxItem{
      @include mixins.flex_box_custom(center,center,20px);
      &:hover{
        cursor: pointer;
      }
}

.containerBox{
    @include mixins.flex_box_custom(center,center,20px);
}

.containerMenu{
     @include mixins.flex_box_custom(center,center,40px);
}

.boxIcon {
    @include mixins.radius_common(50%);
    @include mixins.flex_box_custom(center,center,0px);
    background-color: vars.$primary_color;
    width: 26px;
    height: 26px;
}

.menu{
    cursor: pointer;
    padding-top: 9px;
    font-size: 15px;
    color: vars.$primary_color;
    position: relative;

    .subMenu{
        position: absolute;
        background-color: #fff;
        width: 100%;
        padding: 10px;
        top: 40px;
    }
}

.menu::after{
    content: '';
    display: block;
    height: 2px;
    margin-top: 6px;
    background-color: vars.$primary_color;
    border-radius: 10px;

    transform-origin: right;
    opacity: 0;
    transform: scaleX(0);
    transition: transform 300ms, opacity 500ms;
}

.menu:hover::after{
    opacity: 1;
    transform-origin: left;
    transform: scale(1);
}